.facilities {
    color: green;
    margin-top: 120px;
}

.f_sub_heading {
    margin-top: 15px;
}

#facility .facility_main .service_box{
    margin-top: 60px;
}

#facility .facility_main .service_list {
    margin-top: 33px;
    margin-left: 10px;
    margin-right: 40px;
}

#facility .facility_main .service_list ul li {
    margin: 8px 0;
    list-style: square;
}

#facility .facility_main .service_list ul li i {
    font-size: 15px;
    color: #064789;
    margin-right: 12px;
}